:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --titles-text: black;
  --contacts-color: #ffffff99;
  --white: #ffffff;
  --background-color: #e5e5e5;
  --button-color: #188ce8;
  --black-accent: #2f303a;
  --button-portfolio: #f5f4fa;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  padding: 0;
}

ul {
  list-style: none;
}
a {
  color: var(--title-text-color);
  text-decoration: none;
}

body {
  background-color: var--(background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  margin: 0;
}

/* navigation */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--titles-text);
  letter-spacing: 0.03em;
}
.web {
  --logo-accent: #2196f3;
  color: var(--logo-accent);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* hover section */
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}
.link-header:hover,
.link-header:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
  color: var(--primary-text-color);
}
header {
  background: var--(--white);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--titles-text);
}
.navigation {
  width: 1200 px;
  padding-left: 15px;
  padding-right: 15px;
}
.link-header {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
/* main */
.container {
  background: var(--background-color);
  margin: 0 auto;
  width: 1200 px;
  padding-left: 15px;
  padding-right: 15px;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin: 0px;
  margin-bottom: 30px;
}
.hero {
  background: var(--black-accent);
  text-align: center;
  margin-bottom: 89px;
}

.section-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
.container-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
/* button */
.button {
  color: var(--white);
  background-color: var(--button-color);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
}
/* sections */
.team {
  background: #f5f4fa;
}
.container-team-member {
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  font-weight: 500;
}
.container-team-prof {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

/* footer */
.container-footer {
  background: var(--black-accent);
  width: 1200 px;
  padding-left: 15px;
  padding-right: 15px;
}
.studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
}
.container-footer a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

/* Portfolio part */
.button-port:hover,
.button-port:focus {
  background-color: var(--accent-color);
  color: var(--white);
}
.experience > h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.experience > p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.98;
  letter-spacing: 0.03em;
  color: #757575;
}
.button-port {
  color: var(--title-text-color);
  background-color: var(--button-portfolio);
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px 32px;
  /* display: flex; */
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  height: 38px;
  min-width: 73px;
  left: 495px;
  padding: 6px 22px;
  display: inline-block;
  border: none;
}
.port-nav: not(: first-child) {
  margin-left: 8px;
}
.experience {
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
}
.image {
  display: block;
}
.link-port {
  display: inline-block;
}
