:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --titles-text: black;
  --contacts-color: #ffffff99;
  --white: #ffffff;
  --background-color: #e5e5e5;
  --button-color: #188ce8;
  --black-accent: #2f303a;
  --button-portfolio: #f5f4fa;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  padding: 0;
}

ul {
  list-style: none;
}
a {
  color: var(--title-text-color);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: var--(background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* navigation */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--titles-text);
  letter-spacing: 0.03em;
  margin: 24px 94px 25px 215px;
}
.web {
  --logo-accent: #2196f3;
  color: var(--logo-accent);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

header {
  background: var--(--white);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--titles-text);
  border: 1px solid #ececec;
}

.link-header {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

.link-header-section {
  padding-top: 32px;
  padding-bottom: 31px;
  display: flex;
  margin-left: auto;
}
.link-header .mail {
  padding-top: 32px;
  padding-right: 50px;
  padding-bottom: 31;
}
/* hover section */
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}
.link-header:hover,
.link-header:focus {
  color: var(--accent-color);
}
.nav-list {
  display: flex;
  vertical-align: middle;
  /* justify-content: space-evenly; */
}
.nav-list .link.current {
  color: var(--primary-text-color);
}
/* hero */

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  margin: 0px;
  margin-bottom: 30px;
}
.hero {
  background: var(--black-accent);
  text-align: center;
  margin-bottom: 89px;
}
/* main */
.container {
  background: var(--background-color);
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
}
.container-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
/* button */
.button {
  color: var(--white);
  background-color: var(--button-color);
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  border: transparent;
}
/* sections */

.section {
  width: 1200 px;
  padding: 94px 0;
  margin: 0 auto;
  display: flex;
}
.section-block {
  width: calc((100% - 3 * var(--main-margin)) / 4);
}
.section-block:not(:last-child) {
  margin-right: 30px;
}
.work {
  display: flex;
  flex-basis: calc(100% / 3);
  padding-top: 47px;
}
.team {
  display: flex;
  background: #f5f4fa;
  flex-basis: calc(100% / 4);
}
.section-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-info {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
.container-team-member {
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  font-weight: 500;
}
.container-team-prof {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

/* footer */
.container-footer {
  background: var(--black-accent);
  width: 1200 px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-part {
  background-color: var(--bg-hero-footer);
  padding: 60px 0;
}
.footer-part ul {
  margin-top: 20px;
  justify-content: space-between;
}

.studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white);
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white);
}
.container-footer a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--contacts-color);
}

/* Portfolio part */
.button-port:hover,
.button-port:focus {
  background-color: var(--accent-color);
  color: var(--white);
}
.experience > h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.experience > p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.98;
  letter-spacing: 0.03em;
  color: #757575;
}
.button-port {
  color: var(--title-text-color);
  background-color: var(--button-portfolio);
  background: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 10px 32px;
  /* display: flex; */
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  height: 38px;
  min-width: 73px;
  left: 495px;
  padding: 6px 22px;
  display: inline-block;
  border: none;
}
/* .port-nav li:not(: first-child) {
  margin-left: 8px;
} */
.experience {
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
}

.link-port {
  display: inline-block;
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.item {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.item > .experience {
  flex-basis: calc(100% / 3-30px);
  margin-left: 30px;
  margin-top: 30px;
}
.nav-list-portfolio {
  display: flex;
  justify-content: space-evenly;
  orientation-horizontal: middle;
}
